.movie-card-featured{
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.movie-card-featured > img{
    margin-top: 2%;
    width: 34rem;
    align-self: center;
    border-radius: 20px;
}

.movie-card-featured > .title{
    font-size: larger;
}