/* css for the whole card */
.movie-card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    min-width: 10%;
}

/* css for the image */
.image-holder > img{
    max-width: 100%;
    border-radius: 10px;
    transition: scale 0.5s;
    box-shadow: 10px 10px 3px 0 rgba(0, 0, 0, 0.1);
}

/* css for the date */
.image-holder{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
}

/* animation when hovering the movie card */
.image-holder > img:hover{
    scale:80%;
    border-radius: 10px;
    cursor: pointer;    
}

/* css for the title */
.movie-card > .normal-title{
    flex: 2;
    font-size: large;
    display: block;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5%;
}


/* css for the date */
.date{
    margin: auto;
    margin-bottom: 2%;
}