
/* css for the search bar container */
.search-bar-container{
    min-height: 8.2vh;
    margin: auto;
    width: 30%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}


/* css for the search bar */
.search-bar{
    display: flex;
    flex-direction: row;
    min-height: 8vh;
    width: 90%;
    margin: auto;
    border: 2px solid gainsboro;
    padding: 10px;
    border-radius: 50px;
    margin-top: auto;
    justify-content: space-around;
}


/* css for the search bar icon */

.search-bar > .icon{
    flex: 2;
    margin: auto;
    text-align: center;
}

/* css for the search bar icon when hovering */
.search-bar > .icon:hover {
    cursor: pointer;
}


/* css for the text-field container */
.search-bar > .text-field-container{
    flex: 8;
    display: flex;
    flex-direction: column;
}

/* css for the text field */
.text-field{
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-left: 2px;
}

/* remove the ouline */
.text-field:focus{
    outline: none;
}


/* change the cursor when hovering the text field */
.text-field:hover{
    cursor: text;
}